@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tweetbook - le twitter des TIIRs</title>
</head>
<body>
    <div> 
        <h1>Hello World !</h1>
    </div>
    <a href="../signup">S'inscrire</a>
    <a href="../login">Se connecter</a>
</body>
</html>
